text {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

/*
textarea {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  y: 12;
  text-length: 1024;
}*/

.tile-list-header {
  width: 100%;
  y: 15;
  x: 0;
  font-size: 30;
  fill: fb-cyan;
  text-anchor: middle; 
  display: none;
}

.tile-list-item {
  y: 0;
  width: 100%;
  height: 100;
  display: "none";
}
/*.item-footer     { x: 0; y: 0; width: 100%; height: 20; }*/

.status {
  text-anchor: middle;
  display-align: center;
  x: 5%;
  y: 5%;
  width: 90%;
  height: 90%;
  text-length: 512;
  font-size: 32;
  fill: white;
}
